<h1>Formateurs</h1>
<table>
  <tr>
    <td>Id</td>
    <td>Nom</td>
    <td>Prenom</td>
    <td>Coordonnées</td>
    <td>Rue</td>
    <td>Code postal</td>
    <td>Ville</td>
    <td><button [routerLink]="['/formateur','edit']" routerLinkActive="active">Ajouter</button></td>
    <td></td>
  </tr>
  <tr *ngFor="let f of formateurs">
    <td>{{s.id}}</td>
    <td>{{s.nom}}</td>
    <td>{{s.prenom}}</td>
    <td>{{s.coordonnees}}</td>
    <td>{{s.adresse.rue}}</td>
    <td>{{s.adresse.codePostal}}</td>
    <td>{{s.adresse.ville}}</td>
    <td><button [routerLink]="['/formateur','edit',f.id]" routerLinkActive="active">Modifier</button></td>
    <td><button (click)="delete(f.id)">Supprimer</button></td>
  </tr>
</table>
