<div class="form-group" *ngIf="edit;else create">
  Id :<input readonly class="form-control" [(ngModel)]="stagiaire.id">
</div>
<ng-template #create>
  Id :<input class="form-control" [(ngModel)]="stagiaire.id">
</ng-template>
<div class="form-group">
  Nom :<input class="form-control" [(ngModel)]="stagiaire.nom">
</div>
<div class="form-group">
  Prenom :<input class="form-control" [(ngModel)]="stagiaire.prenom">
</div>
<div class="form-group">
  Coordonnées :<input class="form-control" [(ngModel)]="stagiaire.coordonnees">
</div>
<div class="form-group">
  Rue :<input class="form-control" [(ngModel)]="stagiaire.adresse.rue">
</div>
<div class="form-group">
  Code postal :<input class="form-control" [(ngModel)]="stagiaire.adresse.codePostal">
</div>
<div class="form-group">
  Ville :<input class="form-control" [(ngModel)]="stagiaire.adresse.ville">
</div>
<div class="form-group">
  <button (click)="save()">Enregistrer</button>
  <button (click)="cancel()">Annuler</button>
</div>
