<div class="form-group" *ngIf="edit;else create">
  Id :<input readonly class="form-control" [(ngModel)]="promotion.id">
</div>
<ng-template #create>
  Id :<input class="form-control" [(ngModel)]="promotion.id">
</ng-template>
<div class="form-group">
  Nom :<input class="form-control" [(ngModel)]="promotion.nom">
</div>
<div class="form-group">
  Debut :<input class="form-control" [(ngModel)]="promotion.debut">
</div>
<div class="form-group">
  Fin :<input class="form-control" [(ngModel)]="promotion.fin">
</div>
<div class="form-group">
  <button (click)="save()">Enregistrer</button>
  <button (click)="cancel()">Annuler</button>
</div>
