<div class="form-group" *ngIf="edit;else create">
  Id :<input readonly class="form-control" [(ngModel)]="module.id">
</div>
<ng-template #create>
  Id :<input class="form-control" [(ngModel)]="module.id">
</ng-template>
<div class="form-group">
  Debut :<input class="form-control" [(ngModel)]="module.debut">
</div>
<div class="form-group">
  Fin :<input class="form-control" [(ngModel)]="module.fin">
</div>
<div class="form-group">
  <div>
    <select [(ngModel)]="module.formateur">
      <option *ngFor="let f of formateurs" [ngValue]="f" [defaultSelected]="module.formateur">{{f.nom}}</option>
    </select></div>
</div>
<div class="form-group">
  <div>
    <select [(ngModel)]="module.matiere">
      <option *ngFor="let m of matieres" [ngValue]="m" [defaultSelected]="module.matiere">{{m.nomMatiere}}</option>
    </select></div>
</div>

<div class="form-group">
  <div>
    <select [(ngModel)]="module.promotion">
      <option *ngFor="let p of promotions" [ngValue]="p" [defaultSelected]="module.promotion">{{p.nom}}</option>
    </select></div>
</div>
<div class="form-group">
  <div>
    <select [(ngModel)]="module.salle">
      <option *ngFor="let s of salles" [ngValue]="s" [defaultSelected]="module.salle">{{s.code}}</option>
    </select></div>
</div>
<div class="form-group">
  <button (click)="save()">Enregistrer</button>
  <button (click)="cancel()">Annuler</button>
</div>
