<h1>Promotion list</h1>
<table>
  <tr>
    <td>id</td>
    <td>debut</td>
    <td>fin</td>
    <td>nom</td>
    <td>programme_titre</td>
    <td>en cours</td>
  </tr>
  <tr *ngFor="let p of promotions">
    <td>{{p.id}}</td>
    <td>{{p.debut}}</td>
    <td>{{p.fin}}</td>
    <td><button [routerLink]="['/listestagiaire',p.id]" routerLinkActive="active">Stagiaires</button></td>
    <td><button [routerLink]="['/promotion','edit',p.id]" routerLinkActive="active">Modifier</button></td>
    <td><button (click)="delete(p.id)">Supprimer</button></td>
  </tr>
</table>
<ng-template #autre>
  <td>false</td>
  <td>{{date.getTime()}}</td>
</ng-template>
