<h1>Promotion list</h1>
<table>
  <tr>
    <td>id</td>
    <td>debut</td>
    <td>fin</td>
    <td>nom</td>
    <td>programme_titre</td>
    <td>en cours</td>
  </tr>
  <tr *ngFor="let p of promotions">
    <td>{{p.id}}</td>
    <td>{{p.debut}}</td>
    <td>{{p.fin}}</td>
    <td>
      <a [routerLink]="['/stagiaire','edit', p.id]" routerLinkActive="active">{{p.nom}}</a>
    </td>
    <td>{{p.programme.titre}}</td>
    <td *ngIf="date>p.debut;else autre">true</td>
  </tr>
</table>
<ng-template #autre>
  <td>false</td>
  <td>{{date.getTime()}}</td>
</ng-template>
